body {
    margin: 0;
    padding: 0;
}
#bg {
    width: 100%;
    height: 100vh;
    opacity: 40%;
    position: fixed;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #FFBD9B;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 60px;
    width: 100px;
    margin: 10px;
    margin-bottom: 3px;
    clip-path:circle(37%) ;
}
.loglist{
    margin-right: 10px;
}
li{
    list-style: none;
    font-weight: 900;
    font-size:20px;
    padding-right: 10px;
}
li a{
    margin: 10px;
    color: #0A1D37;
}
a:hover{
    color:crimson;
}
.heading {
    position: relative;
    text-align: center;
    font-size: xx-large;
    padding-top: 85px;
    font-weight: 800;
    color: #0A1D37;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.search input {
    width: 60%;
    height: 7vh;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: #FFD8CC;
   font-size: large;
   font-weight: 600;
}
.search ::placeholder{
    color:grey;
    font-weight: 600;
    font-size: large;
}
.tiles{
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile img{
    clip-path: circle(50%);
    width: 150px ;
    object-fit: contain;
    margin: 10px;
    border: 3px solid;
    border-radius: 50%;
    /* border-color: black; */
}